/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
p{
    color: red;
    font-size: 40px;
    text-align: center;
    font-style: italic;
    line-height: 10px;
}
ul{
    list-style-image: url(images.png);
}

ol{
    list-style-image: url(images.jpg);
    font-size: 20px;
}