@charset "utf-8";
/* CSS Document */

.maindiv{
	width: 60%;
	height: auto;
	margin: 0 auto;
	}

.row{
	width: 100%;
	height: auto;
	min-height: 30px;
	
	}

.left{
	width: 30%;
	height: auto;
	float:left;
	}

.right{
	width: 70%;
	height: auto;
	float: left;
	
	}

a{
	text-decoration: none;}

table{
	border-collapse: collapse;}