.row{
    width: 100%;
    height: 200px
}
.row2{
    width: 100%;
    height: 50px
}
.row3{
    width: 100%;
    height: 500px
}
.col{
    width: 20%;
    height: 100%;
    float: left;
}
.color{
    background: #4CAF50;
}
.color2{
    background: #616161;
}
.border{
    border: 1px solid black;
}
a{
    font-size: 30px;
    text-align: center;
    color: black;
    background-color: transparent;
    text-decoration: none;
}